.cat {
    display: flex;
    background-color: teal;
    padding:  10px;
    margin: 10px 0;
    border: 1px solid black;
}

.cat_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buyCat, .removeCat {
    padding: 5px 20px;
    background-color:#005d78;
    border: 2px solid black;
    border-radius: 5px;
    color:  white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 5px;
}

.removeCat {
    font-size: 14px;
}

.buyCat:hover, .removeCat:hover {
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2); 
}