.cat {
    display: flex;
    background-color: teal;
    padding:  10px;
    margin: 10px 0;
    border: 1px solid black;
}

.cat_container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.buyCat, .removeCat {
    padding: 5px 20px;
    background-color:#005d78;
    border: 2px solid black;
    border-radius: 5px;
    color:  white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 5px;
}

.removeCat {
    font-size: 14px;
}

.buyCat:hover, .removeCat:hover {
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2); 
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat_img {
    margin-bottom: 20px;
}

.cat_info {
    margin-bottom: 30px;
}

.btn_back {
    min-width: 150px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    transition:  all 0.4s;
    font-size: 18px;
}

.btn_back:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}